<%- include('./partials/head') %>

<main>
        <!-- Uitgelichte aflevering -->
        <div class="div-half-page-left">
                <h3> Uitgelicht </h3>
        <section class="section-featured">
            <img class="img-featured-placeholder" src="/assets/placeholder.webp" alt="placeholderafbeelding" height="300" width="300"/>
            <h2>Uitgelichte aflevering</h2>
        </section>
        </div>

<div class="div-shows-and-episodes">

        <!-- Onze shows -->
        <div class="div-half-page-right">
        <h3> Onze shows </h3>

        <section class="section-our-shows">
<% data.forEach(collection => { %>

            <div class="div-show">
                <a
                id="<%= collection.attributes.slug %>"
                class="a-show"
                href="/collection/<%= collection.attributes.slug %>">
                <picture class="picture-show">
                        <img  srcset=".<%= imageFiles[mainVisuals[collection.relationships.mainVisual.data.id]] %>" alt="<%= collection.attributes.title %>" width="320" height="320" />
                </picture>
                <p class="p-show-title"><%= collection.attributes.title %></p>
                </a>
            </div>
        
<% }); %>
        </section>
        </div>

</div>

</main>



<%- include('./partials/foot') %>